<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title style="text-align:center;">Human Resources</title>
</head>

<body>
<h2 style="text-align:center;">Human Resources</h2>
<hr>

<p>
    Welcome: <span sec:authentication="principal.username"></span>
</p>

<hr>

<!-- display user name and role(s) -->



<div sec:authorize="hasAnyRole('USER','EMPLOYEE','MANAGER')">

    <!-- Add a link to point to /employee ... this is for the employees -->
    <p>
        <a th:href="@{/visitors}">Helping source for visitors</a>
    </p>

</div>


<div sec:authorize="hasRole('EMPLOYEE')">

    <!-- Add a link to point to /employee ... this is for the employees -->
    <p>
        <a th:href="@{/employee}">Employees Meeting</a>
    </p>

</div>

<div sec:authorize="hasRole('MANAGER')">

    <!-- Add a link to point to /manager ... this is for the managers -->

    <p>
        <a th:href="@{/manager}">Manager Meeting</a>
    </p>

</div>

<hr>

<!-- Add a logout button -->
<form action="#" th:action="@{/logout}"
      method="POST">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

</form>


</body>

</html>
